@import 'bootstrap-sprockets';
@import 'bootstrap';
@import "font-awesome-sprockets";
@import "font-awesome";

@mixin input-control($text_color, $background_color) {
  height: 50px;
  margin: 0;
  padding: 0 20px;
  vertical-align: middle;
  border: 1px solid #ddd;
  font-size: 16px;
  font-weight: 300;
  line-height: 50px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  -moz-box-shadow: 0 1px 0 0 #fff;
  -webkit-box-shadow: 0 1px 0 0 #fff;
  box-shadow: 0 1px 0 0 #fff;  
  color: $text_color;
  background-color: $background_color;
}

@mixin vh-center() {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

@mixin vertical-center() {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%)
}

html {
  height: 100%;
}

body {
  font-family: 'Roboto', sans-serif;
  position: relative;
  padding-bottom: 50px;
  min-height: 100%;

  & #footer {
    position: absolute;
    bottom: 10px;
    width: 100%;
    text-align: center;
  }
}

header {
  & .container {
    height: 100px;
     
    & > div {
      height: 100px;
      @include vertical-center();

      & .user-name {
        margin-right: 20px;
      }

      & > li, & div {
        @include vertical-center();
      }

      & h2 {
        margin-top: 0px;
      }
    }
  }
}

.main-content {
  @include vh-center();
  color: #333;
}

.sign-up-form, .sign-in-form {
  @include vh-center();
  width: 500px;
  border: 1px solid #ddd;

  .header {
    overflow: hidden;
    padding: 0 25px 15px 25px;
    background: #fff;
    border-bottom: 1px solid #ddd;
    text-align: left;
  }

  .footer {
    padding: 25px 25px 30px 25px;
    background: #eee;
    text-align: left;
  }
}

input[type="text"], input[type="password"], input[type="file"] {
  @include input-control(#888, #f8f8f8);
}

input[type="submit"] {
  @include input-control($btn-success-color, $btn-success-bg);
}

.content-header {
  height: 50px;
  border-bottom: 2px dotted #eee;
  padding-bottom: 10px;
  margin-bottom: 20px;

  & > div {
    @include vertical-center();
  }
}

.album {
  height: 300px;
  border: 2px solid #eee;
  
  & .album-header {
    height: 50px;

    & > div {
      @include vertical-center();
    }
  }
}

#overlay {    
  background: rgba(255,255,255,.75);
  text-align: center;
  opacity: 0;
  -webkit-transition: opacity .25s ease;
  -moz-transition: opacity .25s ease;
  transition: opacity .25s ease;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  & > span {
    @include vertical-center();
  }
}

#box:hover #overlay {
  opacity:1;
}

.medias-content {
  .medias {
    margin-top: 50px;
  }
}